@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background: #050816;
  color: white;
  overflow-x: hidden;
}

body::before {
  content: "";
  position: fixed;
  width: 700px;
  height: 700px;
  top: -250px;
  right: -200px;
  background: #06b6d4;
  filter: blur(220px);
  opacity: 0.15;
  z-index: -1;
}

body::after {
  content: "";
  position: fixed;
  width: 600px;
  height: 600px;
  bottom: -200px;
  left: -150px;
  background: #2563eb;
  filter: blur(220px);
  opacity: 0.15;
  z-index: -1;
}

* {
  box-sizing: border-box;
}
